

@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@100&display=swap');


$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Roboto Slab', serif;

body{
    margin: 0px;
    padding: 0px;
    font-family: $primary_font;
}

h1, h2, h3, h4, h5{
    font-family: $secondary_font;
}
p{
    font-family: $primary_font;
}